<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="eng">
<head>
  <title>Darryl Mendonez Portfolio</title>
  <meta author="Darryl Mendonez">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:image" content="https://darrylmendonez.github.io/img/thumbnail.png?1" />
  <meta property="og:image:secure_url" content="https://darrylmendonez.github.io/img/thumbnail.png?1" />
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel=“stylesheet” href=“https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css”></i>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
  <main id="vue-app" v-cloak>
    <div class="navbar-fixed hide-on-med-and-down">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="#home" class="brand-logo focus-in-expand-fwd wow show-on-large" v-if="isScrollPastTitle">{{ title }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li v-for="(navItem, index) in navItems" class="waves-effect waves-light" key="index"><a :href="navItem.link" class="focus-in-expand-fwd wow" :data-wow-delay="navItem.delay">{{ navItem.title }}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="home" class="parallax-title-container scrollspy">
      <div class="center-align">
        <h1 class="text-shadow focus-in-contract-bck wow" :data-wow-delay="titleDelay">{{ title }}</h1>
        <h4 class="text-shadow focus-in-contract-bck wow" :data-wow-delay="subtitle.delay"><i>{{ subtitle.title }}</i></h4>
      </div>
      <div class="parallax">
        <img :src="homeBackgroundPath">
      </div>
    </div>
    <div id="bio" class="section grey darken-1 scrollspy">
      <div class="row container">
        <img id="profilepic" src="img/bio/profilepic.jpg" width="300px" class="responsive-img rounded-img center-block" />
        <h5 class="center-align" data-wow-delay=".8s">{{ bioSection.title }}</h5>
        <p v-for="(description, index) in bioSection.descriptions" v-html="description" ></p>
      </div>
    </div>
    <div id="projects" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">{{ projectsSection.title }}</h1>
      </div>
      <div class="parallax"><img :src="projectsSection.backgroundPath"></div>
    </div>
    <div class="section grey darken-1">
      <div class="row container">
        <div class="col s12 m12 l6" v-for="(project, index) in projectsSection.projects" v-if="index < 2">
          <div class="card z-depth-5" :data-wow-delay="project.animationDelay">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a :href="project.url" target="_blank"><img :src="project.imgPath" class="wave"></a>
            </div>
            <div :key="project.title" class="card-content black-text">
              <a :href="project.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ project.title }}</span></a>
              <p v-html="project.description">
                <div class="container">
                  <ul>
                    <li v-for="tool in project.tools" class="bullets" v-html="tool"></li>
                  </ul>
                </div>
              </p>
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="project.url" target="_blank">{{ project.title }} <i class="material-icons right">launch</i></a>
                <a v-if="project.github" class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" :href="project.github" target="_blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row container">
        <div class="col s12 m12 l6" v-for="(project, index) in projectsSection.projects" v-if="( (index >= 2) && (index < 4) )">
          <div class="card z-depth-5" :data-wow-delay="project.animationDelay">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a :href="project.url" target="_blank"><img :src="project.imgPath" class="wave"></a>
            </div>
            <div :key="project.title" class="card-content black-text">
              <a :href="project.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ project.title }}</span></a>
              <p v-html="project.description">
                <div class="container">
                  <ul>
                    <li v-for="tool in project.tools" class="bullets" v-html="tool"></li>
                  </ul>
                </div>
              </p>
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="project.url" target="_blank">{{ project.title }} <i class="material-icons right">launch</i></a>
                <a v-if="project.github" class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" :href="project.github" target="_blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row container">
        <div class="col s12 m12 l6" v-for="(project, index) in projectsSection.projects" v-if="( (index >= 4) && (index < 6) )">
          <div class="card z-depth-5">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a :href="project.url" target="_blank"><img :src="project.imgPath" class="wave"></a>
            </div>
            <div :key="project.title" class="card-content black-text">
              <a :href="project.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ project.title }}</span></a>
              <p v-html="project.description">
                <div class="container">
                  <ul>
                    <li v-for="tool in project.tools" class="bullets" v-html="tool"></li>test
                  </ul>
                </div>
              </p>
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="project.url" target="_blank">{{ project.title }} <i class="material-icons right">launch</i></a>
                <a v-if="project.github" class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" :href="project.github" target="_blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end section grey -->
    <div id="tools" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">{{ toolsSection.title }}</h1>
      </div>
      <div class="parallax"><img :src="toolsSection.backgroundPath"></div>
    </div> <!-- end parallax-container -->
    <div class="section grey darken-1">
      <div class="row container">
        <div v-for="(tool, index) in toolsSection.tools" class="col s6 m3" :class="{'pulse-on-mouseenter': tool.url}">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <div class="focus-in-contract-bck wow" :data-wow-delay="tool.animationDelay">
              <span v-if="tool.url">
                <a :href="tool.url" target="_blank">
                  <span :class="tool.class" class="fa-5x"></span>
                  <h5>{{ tool.title }}</h5>
                </a>
              </span>
              <span v-else>
                <span :class="tool.class" class="fa-5x"></span>
                <h5>{{ tool.title }}</h5>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="community-service" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">{{ communityServiceSection.title }}</h1>
      </div>
      <div class="parallax"><img :src="communityServiceSection.backgroundPath"></div>
    </div> <!-- end parallax-container -->
    <div class="section grey darken-1">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l6" v-for="(service, index) in communityServiceSection.services" v-if="index < 2">
            <div class="card z-depth-5" :data-wow-delay="service.animationDelay">
              <div class="card-image card-image waves-effect waves-block waves-light">
                <a :href="service.url" target="_blank"><img :src="service.imgPath" class="wave"></a>
              </div>
              <div :key="service.title" class="card-content black-text">
                <a :href="service.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ service.title }}</span></a>
                <p>
                  {{ service.description }}
                </p>
                <br>
                <div class="center-btn">
                  <a v-if="service.url" class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="service.url" target="_blank">{{ service.btnText }} <i class="material-icons right">launch</i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6" v-for="(service, index) in communityServiceSection.services" v-if="index >= 2">
            <div class="card z-depth-5" :data-wow-delay="service.animationDelay">
              <div class="card-image card-image waves-effect waves-block waves-light">
                <a :href="service.url" target="_blank"><img :src="service.imgPath" class="wave"></a>
              </div>
              <div :key="service.title" class="card-content black-text">
                <a :href="service.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ service.title }}</span></a>
                <p>
                  {{ service.description }}
                </p>
                <br>
                <div class="center-btn">
                  <a v-if="service.url" class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="service.url" target="_blank">{{ service.btnText }} <i class="material-icons right">launch</i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="awards" class="parallax-container valign-wrapper scrollspy">
        <div class="valign center-block">
          <h1 class="center-align text-shadow">{{ awardsSection.title }}</h1>
        </div>
        <div class="parallax"><img :src="awardsSection.backgroundPath"></div>
      </div> <!-- end parallax-container -->
      <div class="section grey darken-1">
        <div class="row container">
          <div class="col s12 m12 l6" v-for="(award, index) in awardsSection.awards" v-if="index < 2">
            <div class="card z-depth-5" :data-wow-delay="award.animationDelay">
              <div class="card-image card-image waves-effect waves-block waves-light">
                <a :href="award.url" target="_blank"><img :src="award.imgPath" class="wave"></a>
              </div>
              <div :key="award.title" class="card-content black-text">
                <a :href="award.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ award.title }}</span></a>
                <u>Presented by {{ award.presentedBy }}</u>
                <p v-html="award.description"></p>
                <br>
                <div class="center-btn">
                  <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="award.url" target="_blank">{{ award.btnText }} <i class="material-icons right">launch</i></a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="social" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">{{ socialSection.title }}</h1>
      </div>
      <div class="parallax"><img :src="socialSection.backgroundPath"></div>
    </div> <!-- end parallax-container -->
    <div class="section grey darken-1">
      <div class="container">
        <div class="row">
          <div v-for="(info, index) in socialSection.socialInfo" v-if="index < 2" :key="info.title" class="col s6 m6 l6 pulse-on-mouseenter">
            <a :href="info.url" target="_blank">
              <div class="card-panel grey darken-3 center-align z-depth-5">
                <h5 class="focus-in-contract-bck wow" :data-wow-delay="info.animationDelay" v-html="info.title"></h5>
                <i :class="info.class" class="fab fa-5x focus-in-contract-bck wow" :data-wow-delay="info.animationDelay"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div v-for="(info, index) in socialSection.socialInfo" v-if="index >= 2" :key="info.title" class="col s6 m4 l4 pulse-on-mouseenter">
            <a :href="info.url" target="_blank">
              <div class="card-panel grey darken-3 center-align z-depth-5">
                <h5 class="focus-in-contract-bck wow" :data-wow-delay="info.animationDelay" v-html="info.title"></h5>
                <i :class="info.class" class="fab fa-5x focus-in-contract-bck wow" :data-wow-delay="info.animationDelay"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <footer>
        <div class="container center-align">
          <p>&copy {{ new Date().getFullYear() }} {{ title }}</p>
        </div>
    </footer>
  </main>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/wow.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/app.js"></script>
</body>
</html>
