<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="eng">
<head>
  <title>Darryl Mendonez Portfolio</title>
  <meta author="Darryl Mendonez">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
  <main id="vue-app" v-cloak>
    <div class="navbar-fixed hide-on-med-and-down">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="#home" class="brand-logo fadeInDown wow" :data-wow-delay="brandLogoDelay">{{ title }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li v-for="(navItem, index) in navItems" class="waves-effect waves-light" key="index"><a :href="navItem.link" class="fadeInDown wow" :data-wow-delay="navItem.delay">{{ navItem.title }}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="home" class="parallax-title-container scrollspy">
      <div class="center-align">
        <h1 class="text-shadow fadeInDown wow" :data-wow-delay="titleDelay">{{ title }}</h1>
        <h4 class="text-shadow fadeInDown wow" :data-wow-delay="subtitle.delay"><i>{{ subtitle.title }}</i></h4>
      </div>
      <div class="parallax">
        <img :src="homeBackgroundPath">
      </div>
    </div>
    <div id="bio" class="section grey darken-1 scrollspy">
      <div class="row container">
        <img id="profilepic" src="img/bio/profilepic.jpg" width="300px" class="responsive-img rounded-img center-block" />
        <h5 class="center-align" data-wow-delay=".8s">{{ bioSection.title }}</h5>
        <p v-for="(description, index) in bioSection.descriptions" v-html="description" ></p>
      </div>
    </div>
    <div id="projects" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">{{ projectsSection.title }}</h1>
      </div>
      <div class="parallax"><img :src="projectsSection.backgroundPath"></div>
    </div>
    <div class="section grey darken-1">
      <div class="row container">
        <div class="col s12 m12 l6" v-for="(project, index) in projectsSection.projects" v-if="index < 2">
          <div class="card z-depth-5" :data-wow-delay="project.animationDelay">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a :href="project.url" target="_blank"><img :src="project.imgPath" class="wave"></a>
            </div>
            <div :key="project.title" class="card-content black-text">
              <a :href="project.url" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">{{ project.title }}</span></a>
              <p>
                {{ project.description }}
                <div class="container">
                  <ul>
                    <li v-for="tool in project.tools" class="bullets">{{ tool }}</li>
                  </ul>
                </div>
              </p>
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" :href="project.url" target="_blank">{{ project.title }} <i class="material-icons right">launch</i></a>
                <a class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" :href="project.github" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end row container -->
      <div class="row container">
        <div class="col s12 m12 l6">
          <div class="card z-depth-5" data-wow-delay=".4s">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a href="http://dailybriefing.herokuapp.com/" target="_blank"><img src="img/dailybriefing.png" class="wave"></a>
            </div>
            <div class="card-content black-text">
              <a href="http://dailybriefing.herokuapp.com/" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">Daily Briefing</span></a>
              <p>
                Your one-stop shop for weather, traffic, news, events, and pictures going on in your current location or city of choice. Daily Briefing is a front-end project utilizing many web tools:
                <div class="container">
                  <ul>
                    <li class="bullets">Materialize is the CSS framework</li>
                    <li class="bullets">jQuery is the engine</li>
                    <li class="bullets">API's:
                    <div class="container">
                      <ul>
                        <li class="bullets">The Dark Sky Forecast</li>
                        <li class="bullets">Google Maps</li>
                        <li class="bullets">Bing</li>
                        <li class="bullets">EventBrite</li>
                        <li class="bullets">Flickr</li>
                      </ul>
                    </div>
                  </li>
                  <li class="bullets">Firebase is used for the 'Like' button counter</li>
                  </ul>
                </div>
              </p>
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" href="http://dailybriefing.herokuapp.com/" target="_blank">Launch <i class="material-icons right">launch</i></a>
                <a class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" href="https://github.com/darrylmendonez/daily-briefing" target="_blank"><i class="fa fa-github"></i></a>
              </div> <!-- end center-btn -->
            </div>
          </div>
        </div> <!-- end daily briefing -->
        <div class="col s12 m12 l6">
          <div class="card z-depth-5" data-wow-delay=".4s">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a href="http://rureview.herokuapp.com/" target="_blank"><img src="img/rureview.png" class="wave"></a>
            </div>
            <div class="card-content black-text">
              <a href="http://rureview.herokuapp.com/" target="_blank"><span class="card-title grey-text text-darken-4 josefin-sans">RU Review</span></a>
              <p>
                There are plenty of places to eat at Rutgers! RU Review is a place where users can read reviews about the many food spots on and around campus. Users can create accounts and write their own reviews as well as update and delete. RU Review is a back-end CRUD project utilizing many web tools:
                <div class="container">
                  <ul>
                    <li class="bullets">Materialize is the CSS framework</li>
                    <li class="bullets">Node.js is the engine</li>
                    <li class="bullets">npm packages:
                    <div class="container">
                      <ul>
                        <li class="bullets">Express</li>
                        <li class="bullets">Express-Session</li>
                        <li class="bullets">Sequelize</li>
                        <li class="bullets">Passport</li>
                        <li class="bullets">Passport-Local</li>
                        <li class="bullets">Body-Parser</li>
                        <li class="bullets">Express-Handlebars</li>
                        <li class="bullets">Bcryptjs</li>
                        <li class="bullets">MySQL</li>
                        <li class="bullets">Handlebars</li>
                        <li class="bullets">Dotenv</li>
                      </ul>
                    </div>
                  </li>
                  <li class="bullets">MySQL stores the data</li>
                  </ul>
                </div>
              </p>
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" href="http://rureview.herokuapp.com/" target="_blank">RU Review <i class="material-icons right">launch</i></a>
                <a class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" href="https://github.com/JamesonCodes/rutgers-virtual-flyer" target="_blank"><i class="fa fa-github"></i></a>
              </div> <!-- end center-btn -->
            </div>
          </div>
        </div> <!-- end ru review -->

      </div> <!-- end row container -->
      <div class="row container">
        <div class="col s12 m12 l4">
          <div class="card z-depth-5" data-wow-delay=".4s">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a href="https://miketysonsshootout.herokuapp.com/" target="_blank"><img src="img/shootout.png" class="wave"></a>
            </div>
            <div class="card-content black-text">
              <a href="https://miketysonsshootout.herokuapp.com/" target="_blank"><span class="card-title wave grey-text text-darken-4 eight-bit-font">Mike Tyson's Shoot-Out</span></a>
              <p>
                A 'Rock, Paper, Scissors, Shoot!' game with a throwback theme to the tune of Mike Tyson's Punch-Out. Name your character or play as Little Mac and see if you can beat Mike Tyson in a game of Rock, Paper, Scissors!
                <div class="container">
                  <ul>
                    <li class="bullets">CSS3 and jQuery were both used for animations</li>
                    <li class="bullets">CSS3 and Font Awesome were used to design the NES controller</li>
                    <li>Optimized for mobile play with Bootstrap</li>
                  </ul>
                </div>
              </p>
              <br />
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" href="https://miketysonsshootout.herokuapp.com/" target="_blank">Play<i class="material-icons right">launch</i></a>
                <a class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" href="https://github.com/darrylmendonez/rocks-paper-scissors" target="_blank"><i class="fa fa-github"></i></a>
              </div> <!-- end center-btn -->
            </div>
          </div>
        </div> <!-- end Mike Tyson's Shoot-Out -->
        <div class="col s12 m12 l4">
          <div class="card z-depth-5" data-wow-delay=".4s">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a href="https://immense-inlet-4323.herokuapp.com/" target="_blank"><img src="img/booked.png" class="wave"></a>
            </div>
            <div class="card-content black-text">
              <a href="https://immense-inlet-4323.herokuapp.com/" target="_blank"><span class="card-title wave grey-text text-darken-4">Booked</span></a>
              <p>
                A front-end hotel booking website. Search for any city in the world to find hotels.
                <div class="container">
                  <ul>
                    <li class="bullets">jQuery was used for animations</li>
                    <li class="bullets">Bootstrap was used for responsive design, carousel, and modals</li>
                  </ul>
                </div>
              </p>
              <br />
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" href="https://immense-inlet-4323.herokuapp.com/" target="_blank">Booked <i class="material-icons right">launch</i></a>
                <a class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" href="https://github.com/darrylmendonez/travel-site" target="_blank"><i class="fa fa-github"></i></a>
              </div> <!-- end center-btn -->
            </div>
          </div>
        </div> <!-- end booked -->
        <div class="col s12 m12 l4">
          <div class="card z-depth-5" data-wow-delay=".4s">
            <div class="card-image card-image waves-effect waves-block waves-light">
              <a href="https://damp-woodland-6914.herokuapp.com/" target="_blank"><img src="img/checked.png" class="wave"></a>
            </div>
            <div class="card-content black-text">
              <a href="https://damp-woodland-6914.herokuapp.com/" target="_blank"><span class="card-title wave grey-text text-darken-4">Checked</span></a>
              <p>
                A front-end to-do list web application. Add, strikethrough, and delete tasks. Title and rename your list. Get things done with this fun and animated to-do list!
                <div class="container">
                  <ul>
                    <li class="bullets">jQuery was used for animations</li>
                    <li class="bullets">Bootstrap was used for responsive design, carousel, and modals</li>
                  </ul>
                </div>
              </p>
              <br />
              <div class="center-btn">
                <a class="waves-effect waves-light btn launch-btn grey darken-3 z-depth-5" href="https://damp-woodland-6914.herokuapp.com/" target="_blank">Checked <i class="material-icons right">launch</i></a>
                <a class="waves-effect waves-light btn-floating grey darken-3 z-depth-5 right" href="https://github.com/darrylmendonez/todo-list" target="_blank"><i class="fa fa-github"></i></a>
              </div> <!-- end center-btn -->
            </div>
          </div>
        </div> <!-- end checked -->
      </div> <!-- end row container -->
    </div> <!-- end section grey -->
    <div id="tools" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">Tools</h1>
      </div>
      <div class="parallax"><img src="img/macdesktop.jpg"></div>
    </div> <!-- end parallax-container -->
    <div class="section grey darken-1">
      <div class="row container">
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-html5 fa-5x fadeIn wow" data-wow-delay=".4s"></span>
            <h5 class="fadeIn wow" data-wow-delay=".4s">HTML5</h5>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-css3 fa-5x fadeIn wow" data-wow-delay=".8s"></span>
            <h5 class="fadeIn wow" data-wow-delay=".8s">CSS3</h5>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons devicons-javascript_badge fa-5x fadeIn wow" data-wow-delay="1.2s"></span>
            <h5 class="hide-on-med-and-down fadeIn wow" data-wow-delay="1.2s">JavaScript</h5>
            <p class="hide-on-large-only fadeIn wow" data-wow-delay="1.2s">JavaScript</p>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-jquery fa-5x fadeIn wow" data-wow-delay="1.6s"></span>
            <h5 class="fadeIn wow" data-wow-delay="1.6s">jQuery</h5>
          </div>
        </div>
      </div> <!-- end row container -->
      <div class="row container">
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-bootstrap fa-5x fadeIn wow" data-wow-delay=".4s"></span>
            <h5 class="hide-on-med-and-down fadeIn wow" data-wow-delay=".4s">Bootstrap</h5>
            <p class="hide-on-large-only fadeIn wow" data-wow-delay=".4s">Bootstrap</p>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-materializecss fa-5x fadeIn wow" data-wow-delay=".8s"></span>
            <h5 class="hide-on-med-and-down fadeIn wow" data-wow-delay=".8s">MaterializeCSS</h5>
            <p class="hide-on-large-only fadeIn wow" data-wow-delay=".8s">MaterializeCSS</p>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons devicons-git fa-5x fadeIn wow" data-wow-delay="1.2s"></span>
            <h5 class="fadeIn wow" data-wow-delay="1.2s">Git</h5>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-github fa-5x fadeIn wow" data-wow-delay="1.6s"></span>
            <h5 class="fadeIn wow" data-wow-delay="1.6s">GitHub</h5>
          </div>
        </div>
      </div> <!-- end row container -->
      <div class="row container">
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-streamline fa-5x fadeIn wow" data-wow-delay=".4s"></span>
            <h5 class="fadeIn wow" data-wow-delay=".4s">API</h5>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-npm fa-5x fadeIn wow" data-wow-delay=".8s"></span>
            <h5 class="fadeIn wow" data-wow-delay=".8s">npm</h5>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-firebase fa-5x fadeIn wow" data-wow-delay="1.2s"></span>
            <h5 class="hide-on-med-and-down fadeIn wow" data-wow-delay="1.2s">Firebase</h5>
            <p class="hide-on-large-only fadeIn wow" data-wow-delay="1.2s">Firebase</p>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons devicons-mysql fa-5x fadeIn wow" data-wow-delay="1.6s"></span>
            <h5 class="fadeIn wow" data-wow-delay="1.6s">MySQL</h5>
          </div>
        </div>
      </div> <!-- end row container -->
      <div class="row container">
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-mongodb fa-5x fadeIn wow" data-wow-delay=".4s"></span>
            <h5 class="hide-on-med-and-down fadeIn wow" data-wow-delay=".4s">MongoDB</h5>
            <p class="hide-on-large-only fadeIn wow" data-wow-delay=".4s">MongoDB</p>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <h3 class="fadeIn wow" data-wow-delay=".8s">e</h3>
            <h5 class="fadeIn wow" data-wow-delay=".8s">express</h5>
          </div>
          <span class="hide-on-med-and-up"><br /></span>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons-angular fa-5x fadeIn wow" data-wow-delay="1.2s"></span>
            <h5 class="hide-on-med-and-down fadeIn wow" data-wow-delay="1.2s">AngularJS</h5>
            <p class="hide-on-large-only fadeIn wow" data-wow-delay="1.2s">AngularJS</p>
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card-panel grey darken-3 center-align z-depth-5">
            <span class="devicons devicons devicons-nodejs_small fa-5x fadeIn wow" data-wow-delay="1.6s"></span>
            <h5 class="fadeIn wow" data-wow-delay="1.6s">Node.js</h5>
          </div>
        </div>
      </div> <!-- end row container -->
    </div> <!-- end section grey -->
    <div id="social" class="parallax-container valign-wrapper scrollspy">
      <div class="valign center-block">
        <h1 class="center-align text-shadow">Social</h1>
      </div>
      <div class="parallax"><img src="img/iphone.jpg"></div>
    </div> <!-- end parallax-container -->
    <div class="section grey darken-1">
      <div class="row container">
        <div class="col s6 m4 offset-l2 l3 pulse-on-mouseenter">
          <a href="https://www.linkedin.com/in/darrylmendonez" target="_blank">
            <div class="card-panel grey darken-3 center-align z-depth-5">
              <span class="white-text">
                <h5 class="fadeIn wow" data-wow-delay=".4s">LinkedIn</h5>
                <i class="fa fa-linkedin fa-5x fadeIn wow" data-wow-delay=".4s"></i>
                <p class="fadeIn wow" data-wow-delay=".4s">darrylmendonez</p>
              </span>
            </div>
          </a>
        </div>
        <div class="col s6 m4 l3 pulse-on-mouseenter">
          <a href="https://github.com/darrylmendonez" target="_blank">
            <div class="card-panel grey darken-3 center-align z-depth-5">
              <span class="white-text">
                <h5 class="fadeIn wow" data-wow-delay=".8s">GitHub</h5>
                <i class="fa fa-github fa-5x fadeIn wow" data-wow-delay=".8s"></i>
                <p class="fadeIn wow" data-wow-delay=".8s">darrylmendonez</p>
              </span>
            </div>
          </a>
        </div>
        <div class="col offset-s3 s6 m4 l3 pulse-on-mouseenter">
          <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=darrylmendonez@gmail.com" target="_blank">
            <div class="card-panel grey darken-3 center-align z-depth-5">
              <span class="white-text">
                <h5 class="fadeIn wow" data-wow-delay="1.6s">Gmail</h5>
                <i class="fa fa-envelope fa-5x fadeIn wow" data-wow-delay="1.6s"></i>
                <p class="fadeIn wow" data-wow-delay="1.6s">darrylmendonez</p>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <footer>
        <div class="container center-align">
          <p>&copy 2019 Darryl Mendonez</p>
        </div>
    </footer>
  </main>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/wow.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/app.js"></script>
</body>
</html>
