<!DOCTYPE html>
<html>
<head>
  <title>Darryl Mendonez Portfolio</title>
  <meta author="Darryl Mendonez">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Devicons -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <!-- Animations by Dan Eden -->
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <!-- Custom Styles -->  
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="navbar-fixed hide-on-small-only">
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="#" class="brand-logo">Darryl Mendonez</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#home">Home</a></li>
          </ul>
        </div> <!--- end container -->
      </div> <!--- end nav-wrapper -->
    </nav>
  </div> <!-- end navbar -->
  <main>
    <div id="home" class="parallax-container scrollspy">
      <div class="center-block">
        <h1 class="center-align text-shadow">Darryl Mendonez</h1>
        <h4 class="center-align text-shadow"><i>Login to view resume</i></h4>
      </div>
      <div class="parallax">
        <img src="img/macbooklogin2.jpg">
      </div>
    </div> <!-- end parallax-container -->
    <div id="bio" class="section grey darken-1 scrollspy">
      <div class="row container">
        <div class="col s4">
          <h4>
          Guest? Use guest login:</h4>
          <h5>User Name: guest<br />
          Password: guest</h5>
        </div>
        <form class="col s8" method="POST">
          <div class="row">
            <div class="input-field col s8">
              <input id="usrname" type="text" class="validate" name="usrname">
              <label for="usrname">User Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
          <br />
          <br />
        </form>
      </div> <!-- end row container -->
    </div> <!-- end section grey -->
  </main>
  <footer>
      <div class="container center-align">
        <ul id="footer-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/login">Resume</a></li>
          <li><a href="/repos/mrmendonez">Repositories</a></li>
          <li><a href="shootout">Mike Tyson's Shootout</a></li>
        </ul> 
        <p>&copy 2016 Darryl Mendonez</p>
      </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>