<!DOCTYPE html>
<html>
<head>
  <title>Darryl Mendonez Portfolio</title>
  <meta author="Darryl Mendonez">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Devicons -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <!-- Animations by Dan Eden -->
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="navbar-fixed hide-on-small-only">
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="#" class="brand-logo">Darryl Mendonez</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#home">Home</a></li>
          </ul>
        </div> <!--- end container -->
      </div> <!--- end nav-wrapper -->
    </nav>
  </div> <!-- end navbar -->
  <main>
    <div id="home" class="parallax-container scrollspy">
      <div class="center-block">
        <h1 class="center-align text-shadow">Darryl Mendonez</h1>
        <h4 class="center-align text-shadow"><i>Resume</i></h4>
      </div>
      <div class="parallax">
        <img src="img/macbookdesk2.jpg">
      </div>
    </div> <!-- end parallax-container -->
    <div id="bio" class="section grey darken-1 scrollspy">
      <div class="row container">
        <ul class="collection with-header black-text">
          <li class="collection-header">
            <h4>Professional Experience</h4>
            <h5>South Brunswick, NJ</h5>
            <h5>2004 - Present</h5>
          </li>
          <li class="collection-item avatar">
            <img src="img/sbhs.png" alt="South Brunswick High School" class="circle">
            <span class="title">Web Design & Business Teacher</span>
            <p>
              July 2013 - Present<br>
              <u>Classes</u>
              <ul>
                <li>Introduction to Web Design</li>
                <li>Web Animation</li>
                <li>21st Century Computer and Multimedia Applications</li>
                <li>Personal Financial Management</li>
              </ul>
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/sbhs.png" alt="" class="circle">
            <span class="title">Technology Educator</span>
            <p>
              July 2014 - Present<br>
              <u>Certifications</u>
              <ul>
                <li>
                  <a href="https://drive.google.com/file/d/0B5kZdBK1QTn1QnRxVHo2amtWSUk/view" target="_blank">Certified Google Educator</a>
                </li>
                <li>
                  <a href="https://edudirectory.withgoogle.com/en/profile/88d2b9fd2082a9ec03b4c18c8c98c35a" target="_blank">Google for Education Certified Trainer</a>
                </li>
              </ul>
              <u>Responsibilities</u>
              <ul>
                <li>
                  Train teachers on the use of educational and productivity web tools including:
                  <ul>
                    <li>Google Classroom</li>
                    <li>Google Drive</li>
                    <li>Google Apps Suite</li>
                  </ul>
                </li>
              </ul>
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/sbhs.png" alt="" class="circle">
            <span class="title">Math Teacher</span>
            <p>
              July 2004 - June 2013<br>
              <u>Classes</u>
              <ul>
                <li>Algebra I</li>
                <li>Geometry</li>
                <li>Algebra II</li>
                <li>High School Proficiency Assessment Lab</li>
              </ul>
            </p>
          </li>
        </ul>
      </div> <!-- end row container -->
      <div class="row container">
        <ul class="collection with-header black-text">
          <li class="collection-header">
            <h4>Education and Certifications</h4>
          </li>
          <li class="collection-item avatar">
            <img src="img/r.png" alt="Rutgers" class="circle">
            <span class="title">Rutgers Coding Bootcamp</span>
            <p>
              October 2015 - April 2016<br>
              Full Stack Web Development
              <i>
                Certificate of Completion expected April 2016
              </i>
              <br>
              An intensive 24-week long bootcamp dedicated to designing and building web applications
              <br>
              <u>Skills Developed:</u><br>
              <br>
              HTML5 | CSS3 | Bootstrap | JavaScript | jQuery | Command Line | Git | GitHub | Responsive Design | API/JSON | RESTful API | Node.js | Express | Angular.js | Lodash |  Firebase | MySQL | Ajax | State Management | MySQL | Active Record
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/r.png" alt="" class="circle">
            <span class="title">Rutgers Graduate School of Education</span>
            <p>
              Masters Degree in Education Administration and Supervision<br>
              2007-2011
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/tcnj.png" alt="" class="circle">
            <span class="title">The College of New Jersey<br>
              Alternate Route Teacher Program</span>
            <p>
              New Jersey Teacher Certification<br>
              2004 - 2005
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/njit.png" alt="" class="circle">
            <span class="title">New Jersey Institute of Technology</span>
            <p>
              Masters Degree in Education Administration and Supervision<br>
              2007-2011
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/tcnj.png" alt="" class="circle">
            <span class="title">The College of New Jersey<br>
              Alternate Route Teacher Program</span>
            <p>
              Bachelors Degree in Computer Engineering<br>
              1998-2003
            </p>
          </li>
        </ul>
      </div> <!-- end row container -->
    </div> <!-- end section grey -->
  </main>
  <footer>
      <div class="container center-align">
        <ul id="footer-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/login">Resume</a></li>
          <li><a href="/repos/mrmendonez">Repositories</a></li>
          <li><a href="/shootout">Mike Tyson's Shootout</a></li>
        </ul> 
        <p>&copy 2016 Darryl Mendonez</p>
      </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/shootout-scripts.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>