/* CSS for My Portfolio */

body {
    color: #FFFFFF;
    background-color: #272B30;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.parallax-title-container {
  position: relative;
  overflow: hidden;
  height: 800px;
}

.parallax-container {
  height: 400px;
}

.rounded-img {
  border:1px solid #;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
}

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.1em; 
}

.bullets {
  list-style-type: disc;
}

.center-btn {
  text-align: center;
}

nav, footer {
  background-color: #272B30;
  opacity: 0.75;
}

ul#footer-nav li {
    display:inline;
    margin: 0px 20px;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.eight-bit-font {
  font-family: "Press Start 2P";
}

.friends-font {
    font-family: "Shadows Into Light";
}

.iceland-font {
  font-family:  "Iceland";
}

.josefin-sans {
  font-family: "Josefin Sans";
}

/*unused classes so far*/

.inline {
    display: inline;
}

.borderless {
    border: 0;
}

#angular-todolist {
  background-image: url('../img/lined_paper.png');
}

.done-false {
  font-size: 1.0rem;
  color: #000000;
}

.done-true {
  font-size: 1.0rem;
  text-decoration: line-through;
  color: gray;