<div id="home" class="parallax-title-container scrollspy">
  <div class="center-align hide-on-med-and-down">
    <h1 class="text-shadow fadeInDown wow" data-wow-delay="2.5s">Darryl Mendonez</h1>
    <h4 class="text-shadow fadeInDown wow" data-wow-delay="3.5s"><i>Front-End Web Dev</i></h4>
    <div id="down-arrow-desktop">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <i class="fa fa-angle-double-down fa-5x pulse animated infinite text-shadow"></i>
    </div>
  </div>
  <div class="center-align hide-on-large-only">
    <h1 class="text-shadow fadeInDown wow " data-wow-delay=".5s">Darryl Mendonez</h1>
    <h4 class="text-shadow fadeInDown wow" data-wow-delay="1.5s"><i>Front-End Web Dev</i></h4>
    <div id="down-arrow-mobile" class="hide-on-med-and-up">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <i class="fa fa-angle-double-down fa-5x pulse animated infinite text-shadow"></i>
    </div>
    <div id="down-arrow-tablet" class="hide-on-small-only hide-on-large-only">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <i class="fa fa-angle-double-down fa-5x pulse animated infinite text-shadow"></i>
    </div>
  </div>
  <div class="parallax">
    <img src="img/macbookair.jpg">
  </div>
</div> <!-- end parallax-title-container -->